[Unit]
Description=doberman - file integrity monitor

[Service]
ExecStart=/usr/bin/python3 /opt/doberman/main.py
Environment=PYTHONUNBUFFERED=1

User=root
Group=root

[Install]
WantedBy=multi-user.target
